[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule ".emacs.d/fuzzy-el"]
	path = .emacs.d/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el
[submodule ".emacs.d/popul-el"]
	path = .emacs.d/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule ".emacs.d/imenu-list"]
	path = .emacs.d/imenu-list
	url = https://github.com/bmag/imenu-list
