ac-comphist.dat
kkcrc
bookmarks
ido.last

/eshell/
/el-get/
/games/
/packages/*
/url/
/elpa/
/auto-save-list/
/transient/
/irony/
/project-explorer-cache/
/eln-cache/

projects

!/packages/cmake-mode
!/packages/move-text
!/packages/tre3k-templates
